h1 {
	color: #9933ff;
	text-align: center;
}

h2 {
	color: #0066cc;
}

p {
	text-align: center;
	border-style: double;
	color: green;
}
p::first-line {
	color: green;
	font-variant: small-caps;
}
body {
	background-color: #80ccff;
}
#seventeen{
	border-style: dotted;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}
